/* Wrapping */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #f7e8e8;
}
.wrap {
  max-width: 540px;
  margin: 0 auto;
  padding: 1em;
  word-wrap: break-word;
  word-break: normal;
}

/* Headings */
h1, h2, h3 {
  color: #222;
  font-family: 'francois one';
  font-weight: lighter;
}
h1 {
  font-size: 2.618em;
  margin: 0 0 0.7em;
  border-bottom: 1px solid #888;
}
h2 {
  margin: 1.5em 0 0;
  font-size: 1.250em;
  text-transform: uppercase;
}
h3 {
  margin: 1.5em 0 0;
  font-size: 1.125em;
  text-transform: uppercase;
}
.firstH3 {
  margin-top: 0.5em;
}

/* Paragraphs and Lists */
p, li {
  color: #333;
  font-family: 'Kreon';
  margin-top: 0;
  font-weight: 300;
}
p {
  font-size: 1.125em;
  line-height: 1.4;
  font-weight: 300;
}
.firstParagraph {
  font-weight: 400;
}
.lastParagraph {
  padding-bottom: 1.5em;
  border-bottom: 1px solid	#888;
}
ul {
  padding: 0;
  margin-top: 0;
}
li {
  font-size: 0.9em;
  line-height: 1.3;
  list-style-type: none;
}
.firstImgSrc {
  margin-bottom: 1em;
}
.mainLink {
  font-size: 1.125em;
}
span {
  font-weight: bold;
}
.firstSpan {
  font-size: 1.125em;
  font-weight: normal;
}

/* Links */
a {
  color: #777;
}
a:hover {
  color: #333;
}

/* MEdia Queries */
@media only screen and (min-width: 600px) {
  h1 {
    margin-top: 1em;
  }
}
@media only screen and (min-width: 800px) {
  h1 {
    margin-top: 1.8em;
  }
}
