body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.wrap {
  max-width: 540px;
  margin: 0 auto;
  padding: 1em;
  word-wrap: break-word;
  word-break: normal;
}
h1, h2, h3 {
  color: #222;
  font-family: 'francois one';
  font-weight: lighter;
}
h1 {
  font-size: 2.618em;
  margin: 0 0 0.7em;
  border-bottom: 1px solid	#888;
}
h2 {
  margin: 1.5em 0 0;
  font-size: 1.250em;
  text-transform: uppercase;
}
h3 {
  margin: 1.5em 0 0;
  font-size: 1.125em;
  text-transform: uppercase;
}
p, li {
  color: #444;
  font-family: 'Kreon';
  line-height: 1.4;
  font-size: 1.125em;
  margin-top: 0;
  font-weight: 300;
}
.lastParagraph {
  padding-bottom: 1.5em;
  border-bottom: 1px solid	#888;
}
@media only screen and (min-width: 600px) {
  h1 {
    margin-top: 1em;
  }
}
@media only screen and (min-width: 800px) {
  h1 {
    margin-top: 2em;
  }
}
